.qnOptionsDropdownContainer {
    margin-right: 2px;
    margin-left: -2px;
    position: relative;
    margin-bottom: 20px;
    right: 69px;
}

.qnOptionsDropdownBackgroundTheme {
    width: 65px;
    height: 60px;
    border-radius: 10px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: absolute;
    opacity: 0.75;
    object-fit: cover;
}

.qnOptionsDropdown-Container {
    width: 45px;
    height: 41px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.qnOptionsDropdown-Container.union {
    position: absolute;
}

.qnOptionsDropdownHrDiamond {
    width: 95%;
    height: 1px;
    margin: 3px 0;
    object-fit: cover;
}

.qnOptionsDropdownOption {
    font-size: 14px;
}

.qnOptionsDropdownOption:hover {
    font-weight: 500;
}


.qnOptionsDropdownHr {
    width: 100%;
    border: none;
    height: 1px;
    margin: 3px 0;
}

.qnOptionsDropdownHr.masculine {
    background-color: #4a76fd;
}

.qnOptionsDropdownHr.feminine {
    background-color: #e639af;
}

.qnOptionsDropdownHr.ruby {
    background-color: #850014;   
}

.qnOptionsDropdownHr.orange { 
    background-color: #ff8303; 
}

.qnOptionsDropdownHr.sun {
    background-color: #ffe700;  
}

.qnOptionsDropdownHr.emerald { 
    background-color: #50c878; 
}

.qnOptionsDropdownHr.blue {
    background-color: #098de9; 
}

.qnOptionsDropdownHr.indigo { 
    background-color: #30307e; 
}

.qnOptionsDropdownHr.violet { 
    background-color: #8a2be2; 
}

.qnOptionsDropdownHr.rainbow {
    background: -webkit-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
}

.qnOptionsDropdownHr.silver {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
}

.qnOptionsDropdownHr.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
}

.qnOptionsDropdownHr.platinum {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* Standard syntax (must be last) */
}

.qnOptionsDropdownHr.gray {
    background-color: black;
}