.commentFeed {
    flex: 5.5;
}

.commentFeed-container {
    padding: 20px;
}

.commentFeedController {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px 0 30px;
}

.commentFeedTitle {
    
    font-size: 24px; 
    font-weight: 500; 
    margin-right: 20px;  
}

.commentFeedCount {
    font-size: 12px;
}

.commentFeedControllerBtn {
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    padding-top: 10px;
    cursor: pointer;
}